// $accentColor = #1890ff
$accentColor = #415fcc
$textColor = rgba(0,0,0,.85)

// 自定义变量
$inputActive = rgba(24,144,255,.2);
$sidebarLineHeight = 1.7
$sidebarActive = #ecf5ff
// $sidebarActive = #e6f7ff
$synopsisWidth = 20rem
$codeFontFamily = source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

// $contentWidth = 780px
$contentWidth = 820px
